.bar{
    background-color: rgb(220, 255, 228);
    width: 75%;
    height: 4.5vh;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.default{
    color: rgba(0, 0, 0, 0.253);
    margin-left: 5%;
    font-size: 2vh;
    font-family:  Haettenschweiler, 'Arial', sans-serif;

}