.bar{
    background-color: rgb(220, 255, 228);
    width: 75%;
    height: 4.5vh;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-left: 5%;
    font-size: 2vh;
    width:50%;
    font-family:  Haettenschweiler, 'Arial', sans-serif;

}
.detail{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}
.filter{
    margin-right: 8%;
    height:3.5vh;
    width: auto;
}
.options{
    height: 1.5vh;
    width: auto;
    margin-right: 5%;
}
.filtro{
    margin-right: 5%;
    font-size: 2vh;
    color: #00000080;
    font-family: Haettenschweiler, 'Arial', sans-serif;
    display: block;
}