.container{
    display: flex;
    justify-content: center;
    
}
.image{
    margin-top: 10vh;
    height: 35vh;
    width: 35vh;
    background-color: darkslategrey;
    border-radius: 15px;
    box-shadow:  0px 0px 3em rgb(24, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 3vh;
    font-family: Haettenschweiler, 'Arial', sans-serif;
    text-align: center;
}
.player{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    width: 75%;
}
.original{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3vh;
}
.botao{
    font-family: Haettenschweiler, 'Arial', sans-serif;
    color: #ffffff;
    background-color: #19e284;
    text-decoration: none;
    text-align: center;
    padding-top: 1.2vh;
    display: block;
    width: 20%;
    height: 5vh;
    border-radius: 30px;
    transition: 0.5s;
}
.botao:hover{
    background-color:#61f3af;
    color: #00000078
}
.texto{
    
    font-family: Haettenschweiler, 'Arial', sans-serif
}